
<footer class="usa-footer site-footer" role="contentinfo">
  <div class="footer-section-bottom bg-base-lighter">
    <div class="grid-container">
      <div class="grid-row padding-3">
        <div class="tablet:grid-col-6">
        </div>
        <div class="tablet:grid-col-3">
          <ul class="add-list-reset">
            <li>Footer link</li>
            <li>Footer link</li>
            <li>Footer link</li>
          </ul>
        </div>
        <div class="tablet:grid-col-3">
          <ul class="add-list-reset">
            <li>Footer link</li>
            <li>Footer link</li>
            <li>Footer link</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>


{% assign anchor = site.data.usa_anchor.anchor_data[0] %}
<p>{{anchor[0]}}</p>
<p>{{ anchor.agency_url }}</p>
<p>{{ anchor.site_name }}</p>
<p>{{ anchor.agency_acronym }}</p>
<p>{{ anchor.org_primary_bio }}</p>
<div>  {{anchor.site_name}} </div>
<section class="anchor" data-uswds="1.0">
<div class="component-anchor">
  <div class="usa-accordion">
    <div class="grid-container grid-container-desktop">
      <div class="grid-row tablet-lg:grid-gap-4">
        <div class="grid-col-12">
          <div class="org-short">
            <div class="org-copy">
              <a href="#" title=""><img class="org-img" src="src" alt="alt logo"></a>
              <p><a href="#" title="site">{{anchor.site_name}}</a> is a product of {{ anchor.agency_acronym}}s <a href="#" title="title">{{anchor.org_primary}}</a>{{anchor.org_primary}}, and managed by the <a href="{{#}}" title="{{#}}">{{anchor.org_secondary}}</a></p>
            </div>

            <button class="btn-learn-more usa-button usa-button--outline usa-button--inverse usa-accordion__button" aria-hidden="false" aria-expanded="false" aria-controls="org-details">
              <span>Learn&nbsp;more</span>
            </button>
          </div>
        </div>
      </div>
</section>
