<footer class="usa-footer site-footer" role="contentinfo">
  <div class="footer-section-bottom bg-base-lighter">
    <div class="grid-container">
      <div class="grid-row padding-3">
        <div class="tablet:grid-col-6">
          <div class="logo-links">

            <a class="footer-logo media_link" href="https://www.gsa.gov">
              {% asset gsa-logo.svg alt="General Services Administration logo" class="footer-logo__img footer-logo__tts" %}
            </a>
            <p>[ Team/Guide/Service ] is a project of GSA’s <a href="https://www.gsa.gov/about-us/organization/federal-acquisition-service/technology-transformation-services">Technology Transformation Services</a>, and maintained by <a href="https://18f.gsa.gov/">18F</a>.</p>

          </div>
        </div>
        <div class="tablet:grid-col-3">
          <ul class="add-list-reset">
            <li>Footer link</li>
            <li>Footer link</li>
            <li>Footer link</li>
          </ul>
        </div>
        <div class="tablet:grid-col-3">
          <ul class="add-list-reset">
            <li>Footer link</li>
            <li>Footer link</li>
            <li>Footer link</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
