$color-light:        #b3efff; // $color-light / $color-secondary-light
$color-bright:       #00cfff; // $color-bright / $color-secondary
$color-medium:       #046b99; // $color-medium / $theme-color-primary
$color-dark:         #1C304A; // $color-dark / $theme-color-primary-dark
$color-base:         #1F2E4A;
$color-black:        #000000;

$color-gsa-blue:     #003c71;
